html {
    font-family: source-sans-pro, helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.breadcrumb {
    background-color: #FFFFFF;
}
blockquote.blockquote-primary{border-color:#357EBD}
blockquote.blockquote-primary .square{background-color:#428BCA;color:#FFF}
blockquote.blockquote-success{border-color:#4CAE4C}
blockquote.blockquote-success .square{background-color:#5CB85C;color:#FFF}
blockquote.blockquote-info{border-color:#46B8DA}
blockquote.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
blockquote.blockquote-warning{border-color:#EEA236}
blockquote.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
blockquote.blockquote-danger{border-color:#D43F3A}
blockquote.blockquote-danger .square{background-color:#D9534F;color:#FFF}

.navbar-form input, .form-inline input {
    width:auto;
}

.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
/* end */

/* custom theme */
#footer {
     padding: 80px 0 82px;
    background-color: white;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

header {
    margin-bottom:5px;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
    }

    #sidebar.affix {
        position: fixed;
        top: 0px;
        bottom: 45px;
        overflow: hidden;
        overflow: auto;
        width:21.2%;
    }
}

.affix,.affix-top {
    position:static;
}

/* theme */

body {
    color:#828282;
    background-color:#eee;
}

a,a:hover {
    color:#ff3333;
    text-decoration:none;
}

.highlight-bk {
    background-color:#ff3333;
    padding:1px;
    width:100%;
}

.highlight {
    color:#ff3333;
}

h3.highlight  {
    padding-top:13px;
    padding-bottom:14px;
    border-bottom:2px solid #ff3333;
}

.navbar {
    background-color:#ff3333;
    color:#ffffff;
    border:0;
    border-radius:0;
}
.navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    border-left:1px solid #e8e8e8;
}
.navbar-nav > li:last-child > a {
    border-right:1px solid #e8e8e8;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    color: #555555;
    background-color:transparent;
    opacity:.9;
}

.nav .open > a {
    border-color:#777777;
    border-width:0;
}

.accordion-group {
    border-width:0;
}

.dropdown-menu {
    min-width: 250px;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
    padding-left:1px;
}

.caret {
    color:#fff;
}

.navbar-toggle {
    color:#fff;
    border-width:0;
}

.navbar-toggle:hover {
    background-color:#fff;
}

.panel {
    padding-left:27px;
    padding-right:27px;
}